.listaDesordenada1 {
  list-style-type: disc;
}

.listaDesordenada2 {
  list-style-type: circle;
}

.listaDesordenada3 {
  list-style-type: circle;
}

.listaDesordenada4 {
  list-style-type: none;
}

.listaDesordenada5 {
  list-style-type: none;
}

.listaDesordenada6 {
  list-style-type: none;
}

.listaDesordenada7 {
  list-style-type: none;
}
